/* Color palette */
:root {
	--bg:	#2f343f;
	--fg:	#fafafa;
	--hl1:	#6ba4e7;
	--hl2:	#ed4737;
}

html {
	background-image: url("tile.webp");
}

body {
	margin: auto;
	margin-top: 1em;
	width: 87%;
	max-width: 900px;
	padding: 1.4em 2em 1.3em 2em;

	text-align: justify;
	font-family: C059, serif;
	border:  6px double var(--hl1);
	outline: 6px solid var(--bg);
	color: var(--fg);
	background: var(--bg);
}

h1, h2, h3, h4 {
	text-align: left;
}

h1 {
	color: var(--hl1);
	font-size: 2.4em;
	text-align: center;
}

img {
	max-width: 100%;
}

a {
	color: var(--hl1);
	text-decoration: none;
}

a:hover {
	color: var(--hl2);
}

ul {
	padding-left: 18px;
}

.title {
	font-size: 4em;
	margin: 5px;
}

.article {
	margin: 5px;
	padding: 10px;
	border: 1px solid var(--hl1);
	display: inline-block;
}


.article h4 {
	margin: 0px;
}

.columns {
	columns: 2;
}

.columns ul {
	text-indent: 10px;
}

.button {
	color: var(--fg);
	text-align: left;
	padding: 7px 10px 7px 10px;
	border: 1px solid var(--hl1);
	font-size: 1.3em;
	display: inline-block;
	font-weight: bold;
	font-style: italic;
}

.button:hover {
	color: var(--fg);
	background: var(--hl2);
	border-color: var(--hl2);
}

.icon {
	float: left;
	height: 35px;
	margin-right: 10px;
}


.date {
	text-align: center;
}

.pane-right {
	display: inline-block;
	float: right;
	width: 48%;
}

.pane-left {
	display: inline-block;
	float: left;
	margin: auto;
	width: 48%;
}

.pane-left li {
	margin: 0px 0px 10px 0px;
}

.pane-right li {
	margin-left: 0px;
}

.cutter {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--hl1);
	overflow: hidden;
	font-family: monospace;
	font-size: 14px;
	white-space: nowrap;
	display: inline-block;
	max-width: 80%;
	margin: 0px 0px 0px 0px;
}

@media only screen and (max-width: 768px) {
	.pane-right {
		width: 100%;
	}
	.pane-left {
		width: 100%;
	}

	.pane-left li, .pane-right li {
		margin: 0px;
	}

	.title {
		font-size: 3em;
	}

	.columns {
		columns: 1;
	}

	body {
		width: 78%;
		margin-top, margin-bottom: 0.2em;
	}

	.cutter {
		max-width: 70%;
	}
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}
